APP_NAME="Billing V3"
APP_ENV=local
APP_URL=http://localhost:8080

POSTGRES_DB=billing_v3
POSTGRES_USER=billing
POSTGRES_PASSWORD=billing_secret
DATABASE_URL=postgres://billing:billing_secret@localhost:5432/billing_v3?sslmode=disable
RABBITMQ_URL=amqp://billing:billing_secret@localhost:5672/
REDIS_URL=redis://localhost:6379
MAILPIT_URL=http://localhost:8025
